<h2 class="text-blanco">Todos los Usuarios</h2>
<div class="my-2">
    <a class="btn btn-secondary" href="/user/new-user">Crear usuario</a>
</div>
<div class="card col-sm-5">
    <div class="card-body">
        <table class="table table table-hover">
        <thead>
            <th>Id</th>
            <th>Usuario</th>
        </thead>
        <tbody>
                {{#each users}}
                    <tr>
                        <td>{{user_id}}</td>
                        <td><a class="link_user" href="/user/detalle/{{_id}}">{{usuario}}</a></td>
                    </tr>
                {{/each}}
        </tbody>
        </table>
    </div>
</div>

 