<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Crear usuario</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/user/new-user">
                <div class="input-group mb-3">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre"></input>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="apellido" class="form-control" placeholder="Apellido"></input>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="usuario" class="form-control" placeholder="Usuario"></input>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="correo" class="form-control" placeholder="Correo"></input>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>

